/* BASE STRUCTURE */

body {
	font-family: 'Proxima Nova', 'Helvetica', 'Arial', sans-serif;
	background-color: #fff;
	color: #000;
}

section#card {
	position: absolute;
	bottom: 25%;
	left: 12%;
	height: 260px;
}

section#work {
	position: absolute;
	top: 20%;
	left: 12%;
	height: 375px;
}

h1,
h1 a:link {
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 0px;
}

h2 {
	margin-top: 8px;
	font-size: 24px;
	font-weight: 200;
	line-height: 22px;
	max-width: 400px;
}

h2 a:link,
h2 a:visited,
h2 a:active,
h2 a:hover {
	border-bottom: 2px solid #ccc;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	/* margin-top: 27px; */
}

ul li {
	margin: 0px;
	padding: 0px;
	margin-bottom: 3px;

	font-size: 16px;
	line-height: 19px;
	font-weight: 100;

	-webkit-font-smoothing: antialiased;
}

#work ul {
	margin-bottom: 50px;

}

a:link,
a:hover,
a:visited,
a:active {
	color: #000;
	border: none;
	text-decoration: none;

}

a:hover {
	color: #24c7b0;
}

ul a {
}

.img-circle {
	position: relative;
	width: 120px;
	height: 120px;
	overflow: hidden;
	border-radius: 50%;
}

.img-circle img {
  width: 100%;
  height: auto;
}
